{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Admin posts{% endblock %}

{% block page_content %}

<div>
    <h3>Editor</h3>
    {% if current_user.can(Permission.WRITE) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>
<div class="post-tab">
    <ul class="nav nav-tabs">
        <li></li>
    </ul>
    {% include '_posts.html' %}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>

    
{% endif %}
    

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}